.Home{
    min-height: 220vh;
    background-color: #333;
    color: white;
    padding-top: 50px;
    padding-left: 16%;

}


.Home .fav-books{

    background-image: linear-gradient(to right top, #242522, #252623, #262724, #272825, #282926);
    width: 70vw;
    height: 38vh;
    padding-left: 20px;
    border-radius: 15px;
    
}

.Home .titles{
    color: rgba(172, 255, 47, 0.644);
    letter-spacing: 2px;
    border-bottom: 2px solid #0b6165;
    display: inline-block;
}

.Home  .fav-title{
    padding: 20px 0px;
    padding-bottom: 0;

}

.Home .cards{
    padding-top: 15px;
}


.Home .logged-user{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -15vw;
}

.Home .logged-user span{
    color: rgba(172, 255, 47, 0.816);
}


.Home .big-book-and-more-books{
    padding-top: 30px;
    display: flex;
    gap: 20px;
    
}


.Home .left-side .book-of-the-day{
    margin-top: 20px;
    background-color: #494f3e2d;
    width: 50vw;
    height: 40vh;
    padding: 20px;
    border-radius: 10px;

}

.Home .big-book-and-more-books .right-side {
    margin-top: 4vh;
}

.Home .big-book-and-more-books .right-side  h5{
    color: rgb(4, 195, 170);
    font-size: 1.1rem;
}

.Home .big-book-and-more-books .right-side .same-more-books{

    width: 19vw;
    height: 40vh;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #494f3e2d;
    padding-top: 3%;
    padding-left: 10px;

}

.Home .big-book-and-more-books .right-side .same-more-books .books{
    
    padding-top: 3vh;

}

.Home .weekly-featured-container{
    display: flex;
    gap: 60px;
    width: 70vw;
    height: fit-content;
    margin: 15px 0;
    border-radius: 20px;
    
}

.Home .weekly-featured-title{

    padding-top: 40px;

}

.Home .weekly-featured{
    
    width: 100%;
    height: 100%;
    background-color: #272825;
    border-radius: 20px;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;


}

.Home .weekly-featured p{

    padding: 20px 0;
    letter-spacing: 1.5px;
    color: rgb(4, 195, 170);
    font-size: 1.1rem;
    padding-bottom: 0;
    
}



.Home .weekly-featured-2{
    border: 1px solid red;
}


.Home .divider{
    margin-top: 20px;
    border: 1px solid rgb(251, 255, 0);
    width: 84%;
}

.great-btn{
    background: linear-gradient(to right,#196BCA ,#6433E0);
    background-color: #196BCA;
    color: #fff;
    font-family: Trebuchet MS;
    font-size: 1rem;
    font-weight: 800;
    font-style: normal;
    text-decoration: none;
    padding: 8px 19px;
    border: 0px solid #000;
    border-radius: 8px;
    display: inline-block;
    box-shadow: inset 4px 7px 14px 2px rgba(41.490710439627236,198.8140869140625,10.998129455803424,0.5);
   }
   .great-btn:hover{
    background: linear-gradient(to right,#1866c0 ,#5f30d5);
    background-color: #1866c0;
   }
   .great-btn:active{
    transform: scale(0.95);
   }

