.BookDetails {
  min-height: 92.2vh;
  min-width: 90vw;
  background-color: #333;
  color: #fff;
}

.BookDetails .info-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e2525;
  padding: 30px 0;
}

.BookDetails .info-container img {
  height: 300px;
  width: 250px;
  --mask: radial-gradient(2px at 25% 0, #0000 98%, #000) 50% 2px/8px 51%
      repeat-x,
    radial-gradient(2px at 75% 50%, #000 99%, #0000 101%) top/8px 4px repeat-x,
    radial-gradient(2px at 75% 100%, #0000 98%, #000) calc(50% + 4px)
      calc(100% - 2px) / 8px 51% repeat-x,
    radial-gradient(2px at 25% 50%, #000 99%, #0000 101%) calc(50% + 4px) 100%/8px
      4px repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  border: 5px solid #9b8325;
  border-radius: 20px;
}

.BookDetails .more-info-container {
  padding-left: 30px;
  letter-spacing: 1.6px;
}

.BookDetails .more-info-container h4 {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  color: #02b9c2;
}

.BookDetails .important-info {
  padding-left: 5px;
  color: greenyellow;
}

.BookDetails .mid-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.BookDetails .row-info {
  padding-top: 30px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.BookDetails .divider {
  border: 2px solid rgb(57, 224, 121);
  height: 60px;
  width: 1px;
}

.BookDetails .small-p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.BookDetails .small-p h5 {
  font-size: 1.1rem;
  color: rgb(199, 225, 205);
  padding: 0 15px;
}

.BookDetails .small-p p {
  font-size: 0.8rem;
  color: rgb(216, 174, 119);
  padding: 0 15px;
}

.BookDetails .description {
  letter-spacing: 1.2px;
  margin-top: 40px;
  width: 90ch;
  margin-left: 32%;
  display: flex;
  line-height: 2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.BookDetails .description h3 {
  padding-bottom: 3px;
  border-bottom: 3px solid #00adb5;
}

.BookDetails .description p {
  padding-top: 10px;
}

.BookDetails .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.BookDetails .rating {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.BookDetails .back-icon {
  font-size: 1.2rem;
}

.BookDetails .back-btn-container {
  margin-left: 20%;
  padding-top: 1%;
}

.BookDetails .back-btn {
  width: fit-content;
}
