.Header {
  position: sticky;
  width: 100%;
  z-index: 99999;
  top: 0;
  background-color: #23262a;
}

.Header .library {
  border: 1px solid rgb(43, 137, 226);
  border-radius: 10px;
}

.Header .books {
  border-bottom: 1px solid rgb(43, 137, 226);
  padding-bottom: 0;
}

.Header .books:hover {
  border-bottom: 1px solid rgb(20, 121, 34);
}

.Header .search-icon {
  color: gold;
}

.Header .search-icon:hover {
  color: green;
}

.Header .move-right {
  margin-left: 30vw;
}

@media (max-width: 600px) {
  .Header .move-right {
    margin-left: 5vw;
  }

  .Header .brand {
    display: none;
  }
}
