.Search {
  min-width: 90vw;
  min-height: 92.1vh;
  background-color: #333;
  color: white;
}

.Search .search-input-container {
  padding-top: 50px;
  display: flex;
  justify-content: center;
}

.Search .search-input-container input {
  width: 400px;
  padding: 5px 10px;
  font-size: 1.2rem;
  border-radius: 10px;
  border: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.Search .search-btn {
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  background-color: rgb(70, 68, 66);
  color: #ddff00;
  margin-left: -30px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  transition: all 0.1s;
}

.Search .search-btn:hover {
  background-color: rgb(20, 114, 37);
  color: white;
}

.Search .search-input-container input:focus {
  outline: none;
}

.Search .info-container .results {
  margin-left: 45%;
  padding-top: 20px;
  color: rgb(4, 174, 186);
  letter-spacing: 1.5px;
  font-weight: bold;
}

@media (max-width: 600px) {
  .Search .search-input-container input {
    width: 350px;
  }

  .Search .search-btn {
    margin-left: 0px;
  }

  .Search .info-container .results {
    margin-left: 35%;
  }
}
