.Search{
    min-width: 100vw;
    min-height: 92.05vh;
    background-color: #333;
    color: white;
}


.Search .search-input-container{

    padding-top: 50px;
    display: flex;
    justify-content: center;

}

.Search .search-input-container input{

    width: 400px;
    padding: 5px 10px;
    font-size: 1.2rem;
    border-radius: 10px;
    border: none;
}

.Search .search-input-container input:focus{
    outline: 4px solid rgb(2, 154, 170);
    
}

.Search .info-container{
    padding-left: 16%;
    padding-top: 50px;
}