*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;

}



.link{
  color: bisque;
  text-decoration: none;
}

.nav-link{
  color: white;
  text-decoration: none;
}


.link:hover{
  color: #00ADB5;
}

